@model Theatr.Web.Models.PTUSoloViewModel
@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")
<div class="jumbotron">

    <h3>@ViewBag.Message</h3>

    <h1>NeIzumTak</h1>
    <p class="lead">Вітаю на сторінці добавлення квитків</p>

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Назва вистави</th>
                <th scope="col">Дата</th>
                <th scope="col">Категорія квитка</th>
                <th scope="col">Ціна</th>
                <th scope="col">К-сть квитків</th>
            </tr>
        </thead>
        <tbody>
            <tr scope="row">
                <td>@Model.Performance.Name</td>
                <td>@Model.Performance.Date</td>

                @using (Html.BeginForm("AddTicketPost", "Profile", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    <td>
                        <input value="@Model.Performance.Id" type="hidden" name="PerfomanceId">
                        <input value="VIP чи Standart" type="text" name="TicketCategory">
                    </td>
                    <td>
                        <input value="100" type="number" name="Price">
                        <input value="@Model.User.Id" type="hidden" name="UserId">

                    </td>
                    <td>
                        <input value="1" type="number" name="Count">
                        <input type="submit" class="border-0 bg-transparent" value="Добавити квитоки" data-bs-dismiss="modal">
                    </td>
                }

            </tr>

        </tbody>

    </table>
    @Html.ActionLink(
    "Сторінка профілю",
    "Index",
    Model.User)


</div>