@model Theatr.Web.Models.TicketViewModel
@{
    ViewBag.Title = "Home Page";
}
@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")
<div class="jumbotron">

    <h3>@ViewBag.Message</h3>

    <h1>NeIzumTak </h1>
    <p class="lead">Ви впевнені, що хочете видалити виставу?</p>
    @using (Html.BeginForm("DeletePerformancePost", "Profile", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <input value="@Model.PerfomanceId" type="number" class="hidden" name="PerformanceId">
        <input value="@Model.UserId" type="number" class="hidden" name="UserId">
        <input value="No" type="text" class="hidden" name="UserId">
        <input type="submit" class="border-0 bg-transparent" value="Ні" data-bs-dismiss="modal">

    }
    @using (Html.BeginForm("DeletePerformancePost", "Profile", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <input value="@Model.PerfomanceId" type="number" class="hidden" name="PerformanceId">
        <input value="@Model.UserId" type="number" class="hidden" name="UserId">
        <input value="Yes" type="text" class="hidden" name="oper">
        <input type="submit" class="border-0 bg-transparent" value="Так" data-bs-dismiss="modal">

    }

    @Html.ActionLink(
        "Список вистав",
        "PerformanceList",
        (Theatr.Web.Models.TicketViewModel)ViewBag.Ticket)

</div>